body, html { 
    height: 100vh;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 40% auto auto;
    grid-template-rows: 21% 8% auto 12.5%;
    grid-template-areas: 
        "header header header"
        "navbar navbar navbar"
        "main main main"
        "footer footer footer"
    ;
}


header{
    grid-area: header;
    background-color: #0AD3FF; 
}
h1{
    text-align: center;
    color: #264027;
    font-family: 'Gill Sans';
    font-weight: bold;
    font-size: 8vw;
    font-size: 6vh;
    padding: 0;
    
}
section{
    grid-area: navbar;
    background-color: #6F1A07;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: futura;
    font-size: 6vw;
    position: relative;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 18px 2vh 18px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #F0451F;
  }
  
@font-face {
    font-family: futura;
    src: url(/Senna-Visa-Worldwide/futura/futura\ medium\ condensed\ bt.ttf);
 }
main{
    grid-area: main;
    background-color: #F7F3E3;

}
img {
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  margin-bottom: auto;
  border-radius: 8px;

}

button {
    background-color: #6F1A07;
    border: none;
    color: #F7F3E3;
    padding: 16px 32px;
    text-align: center;
    text-decoration:underline;
    display: block;
    font-size: 16px;
    margin: 60px 150px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px 10px;
    height: 70px;
    width: 200px;
    font-family: futura;
    font-size: 32px;
    
  }
  
button:hover {
    background-color: #F0451F;
    color: #6F1A07;
  }

  div {
    width: 90%;
    height: fit-content;
    padding: 10px;
    border-radius: 20px;
    margin: 20px 10px 20px ;
    background-color: #0AD3FF;
    font-size: 18pt;
    font-family: futura;
    color: #264027;
    text-align: center;
  }




footer{
    grid-area: footer;
    background-color: #0AD3FF;
    text-align: center;
    font-family: futura;
    color: #264027;
    font-size: 14pt;
}

@media only screen and (min-width: 768px) {
    body{
        margin: 0;
        display: grid;
        grid-template-columns: 15% auto ;
        grid-template-rows: 21% 10.5% auto 12.5%;
        grid-template-areas: 
            "header header"
            "navbar main"
            "navbar main"
            "footer footer"
        ;
    }
    h1{
        text-align: center;
        color: #264027;
        font-family: 'Gill Sans';
        font-weight: bold;
        font-size: 6vw;
        padding: 0;
        
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: futura;
        font-size: 4vw;
        position: relative;
        
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 2vh 18px 2vh 18px;
        text-decoration: none;
      }
      
      li a:hover {
        color: #F0451F;
      }
      button {
        background-color: #6F1A07;
        border: none;
        color: #F7F3E3;
        padding: 16px 32px;
        text-align: center;
        text-decoration:underline;
        display: block;
        font-size: 16px;
        margin: 60px 40%;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 20px 10px;
        height: 70px;
        width: 200px;
        font-family: futura;
        font-size: 32px;
        
      }
      
    button:hover {
        background-color: #F0451F;
        color: #6F1A07;
      }
    
}